.px-default {
    padding-right: 30rem;
    padding-left: 30rem;

}

.mx-default {
    margin-right: 30rem;
    margin-left: 30rem;
}
.image-container {
    width: 100vw;
    position: relative;
}
.image-container::before {
    background: #fff;
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    top: 0;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container div {
    position: relative;
}

.bg-default {
    background: #e1d5b8;
}

h1 {
    font-size: 3rem;
    line-height: 1;
}

h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

h4 {
    font-size: 1.5rem;
    line-height: 2rem;
}

blockquote {
    font-style: italic;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: dimgrey;
}