<!DOCTYPE html>
<html class="bg-default h-screen w-screen overflow-x-hidden" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tadre Mølle</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/12.0.2/markdown-it.min.js" integrity="sha512-7VN0JcGJWL+i8LXzTvbROqUSPzZIu8Fp6GWpkVwtHwrgWwY8CrbZgyHA2YpNhAASQNrYqGYoI2HusCqV+S2xnQ==" crossorigin="anonymous"></script>
    <script type="module" src="/components/index.js"></script>
</head>
<body class="h-full w-full">
<script type="text/template" id="artikel_template">
    <tadre-header></tadre-header>
    <tadre-title><%- article.title %></tadre-title>
    <tadre-image src=<%= article.image %>></tadre-image>
    <div class="my-8 w-100">
    </div>
    <tadre-content><%= article.markdown %></tadre-content>
    <div>
        <% for (let tag of article.tags) { %>
        #<%- tag.name %> -
        <% } %>
    </div>

    <tadre-footer></tadre-footer>
</script>

<script>
    $.ajax({
        url: `/api/pages/${getUrl()}`,
        method: "GET",
        success: (data) => {
            console.log(data)
            var md = window.markdownit();
            var result = md.render(data.content);
            data.markdown = result;
            render(data)
        }
    })

    function getUrl() {
        const full = window.location.pathname;
        return full.substring(full.lastIndexOf('/'), full.length);
    }

    function render(article) {
        const template = $('#artikel_template').text();
        const compiler = _.template(template);

        $('body').append(compiler({article: article}));
    }
</script>
</body>
</html>