<!DOCTYPE html>
<html class="bg-default h-screen w-screen overflow-x-hidden" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tadre Mølle</title>
    <link href="/css/tailwind.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <script type="module" src="/components/index.js"></script>
</head>
<body class="h-full w-full">
    <tadre-header></tadre-header>
    <tadre-title>Velkommen til YouTube 2</tadre-title>
    <tadre-image src="/images/tadre.webp"></tadre-image>

    <tadre-footer>
        <tadre-copyright slot="copyright"></tadre-copyright>
    </tadre-footer>
</body>
</html>